In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('lingvforecast/data/dummy_data.csv', index_col=0)
df.head()

          A         B         C         D         E
0  0.128448 -0.007028  0.406063  0.224619 -0.112626
1  0.035867 -0.076149  0.115081  0.100729  0.346266
2  0.294256  0.163872  0.496499  0.536332  0.733913
3  0.223441  0.589740  0.268639  0.502248  0.575839
4  0.207133  0.655951  0.566752  0.779078  1.139448

In [1]:
from lingvforecast.ling_methods import ling_method

In [4]:
print(ling_method([0, 1, 4, 9], [9, 16, 25, 36, 49, 64, 81], horizon=3))

[13.0185124  18.21042825 24.09459955]

In [5]:
print(ling_method([1, 3, 5], [7, 9, 11, 13, 15, 17], horizon=3))

[ 7.  9. 11.]

In [7]:
from lingvforecast.models import LingvForecast
from sklearn.model_selection import train_test_split
import pandas as pd

In [8]:
df = pd.read_csv('lingvforecast/data/dummy_data.csv', index_col=0)
df.head()

          A         B         C         D         E
0  0.128448 -0.007028  0.406063  0.224619 -0.112626
1  0.035867 -0.076149  0.115081  0.100729  0.346266
2  0.294256  0.163872  0.496499  0.536332  0.733913
3  0.223441  0.589740  0.268639  0.502248  0.575839
4  0.207133  0.655951  0.566752  0.779078  1.139448

In [10]:
data = df['A']
# data split train and test
train_data, test_data = train_test_split(data, test_size=0.2, shuffle=False)
print(len(train_data), len(test_data))

80 20

In [ ]:
model = LingvForecast()
model.fit(train_data)
print(model.predict(test_data[:-5], horizon=5))